<div class="modal-header">
    <button class="close" data-dissmiss="forgotPasswordView">&times;</button>
    <h3 class="modal-title">Forgot Password!</h3>
</div>

<div class="modal-body">
    <form role="form" name="forgotPasswordForm" class="form-horizontal modal-dialog" novalidate>
        <fieldset>
            <div class="form-group" show-errors>
                <label for="userName" class="col-sm-3  control-label">Username: </label>
                <div class="col-sm-9">
                    <input name="userName" type="text" class="form-control" ng-model="viewModel.userName" ng-required="true" />
                    <span class="help-block" ng-show="forgotPasswordForm.userName.$invalid">Username Required</span>
                </div>
            </div>
        </fieldset>

    </form>

    <div class="row">
        <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
    </div>

    <div class="row">
        <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Ok</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>