<form class="form-horizontal" name="loginForm">
    <fieldset>
        <legend>Login</legend>
        <div class="form-group" show-errors>
            <label for="userName" class="col-sm-3 control-label">User Name</label>
            <div class="col-sm-9">
                <input type="text" name="userName" ng-model="viewModel.userName" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="loginForm.emailAddress.$invalid">User Name Required</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" name="password" ng-model="viewModel.password" class="form-control" ng-required="true" />
            </div>
        </div>

        <div class="form-group">
            <label for="rememberMe" class="col-sm-3 control-label">Remember Me</label>
            <div class="col-sm-9">
                <input type="checkbox" name="rememberMe" ng-model="viewModel.rememberMe" />
            </div>
        </div>
    </fieldset>

    <div class="col-sm-offset-5 col-sm-9">
        <input type="submit" class="btn btn-primary" value="Login" ng-click="submitForm()" />
    </div>
    <div class="col-sm-offset-5">
        <a href="#" ng-click="forgotPassword()">Forgot Password</a>
    </div>
    <div class="col-sm-12">
        <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
    </div>
    <div class="col-sm-12">
        <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>

</form>


