<div class="modal-header">
    <button class="close" data-dissmiss="passwordView" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Change Password!</h3>
</div>

<div class="modal-body">
    <form role="form" name="passwordForm" class="form-horizontal modal-dialog" novalidate>
        <div class="form-group" show-errors>
            <label for="oldPassword" class="col-sm-3 control-label">Old Password: </label>
            <div class="col-sm-9">
                <input name="oldPassword" type="password" class="form-control" ng-model="viewModel.oldPassword" ng-required="true" />
                <span class="help-block" ng-show="passwordForm.oldPassword.$invalid">Password Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="newPassword" class="col-sm-3 control-label">New Password: </label>
            <div class="col-sm-9">
                <input name="newPassword" type="password" class="form-control" ng-model="viewModel.newPassword" ng-required="true" />
                <span class="help-block" ng-show="passwordForm.newPassword.$invalid">Password Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="confirmPassword" class="col-sm-3 control-label"> Confirm Password: </label>
            <div class="col-sm-9">
                <input name="confirmPassword" type="password" class="form-control" ng-model="viewModel.confirmPassword" ng-required="true" data-match="passwordForm.newPassword" />
                <span class="help-block" ng-show="passwordForm.confirmPassword.$invalid">Password Required</span>
                <span class="help-block" ng-show="passwordForm.confirmPassword.$error.match">Password do not match</span>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
    </div>

    <div class="row">
        <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-lg-offset-3 pull-left">
            <button class="btn btn-primary" ng-click="ok()">Ok</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>


</div>
